body {
    margin: 0;
    font-family: 'Kalam';
    background-color: rgb(180, 159, 180);
}

.shoppingList {
    width: 60%;
    float: left;
    padding: 50px 0;
    display: inline-flex;
    flex-direction:row;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 40px;
}

.cart {
    width: 190px;
    height: 340px;
    margin: 17px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4), 0px 10px 20px 0 rgba(0, 0, 0, 0.4);
    transition: transform .2s;
    position: relative;
}

.cart:hover {
    transform: scale(1.04);
}

.name {
    font-size: 15px;
    padding: 3px 10px;
}

.outside {
    position: absolute;
    bottom: 50px;
    left: 20%;
}

.priceContainer {
    position: relative;
    width: 120px;
    height: 50px;
}

.price1 {
    font-size: 33px;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: right;
    top: -6px;
    right: 5px;
}

.price2 {
    font-size: 17px;
    position: absolute;
    width: 70px;
    height: 20px;
    left: 50px;
    top: -17px;
    text-align: left;
}

.measure {
    position: absolute;
    width: 70px;
    height: 20px;
    left: 50px;
    font-size: 15px;
    top: 2px;
    text-align: left;
}

.image {
    width: 130px;
    margin: 0 auto; 
    display: block;
    margin-top: 18px;
}

.btnAdd {
    width: 100px;
    height: 30px;
    background-color: rgb(18, 165, 128);
    color: white;
    border: none;
    margin-bottom: 15px;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 24%;
}

.btnAdd:hover {
    background-color: rgb(48, 192, 156);
}

.shoppingBag {
    width: 30%;
    float: right;
    margin: 65px 0;
    margin-right: 27px;
    padding: 10px;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.1), 0px 10px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(235, 236, 243, 0.459);
}

.containerBag {
    display: flex;
}
  
.icon {
    width: 35px;
    height: 35px;
    margin-top: 18px;
    margin-left: 10px;
}

.el-name{
    flex: 0 0 15%;
    font-size: 30px;
    margin-left: 15px;
}

hr{
    border-color: black;
    width: 90%;
}

.el {
    padding-left: 15px;
}

.newItemContainer {
    position: relative;
    margin: 35px 10px;
}

.right {
    width: 18%;
}

.left {
    width: 60%;
    float: right;
    margin-right: 60px;
}

.product {
    margin: 0;
    font-size: 17px;
}

.totalPrice {
    margin: 0;
    padding: 10px 0;
    font-size: 15px;
}

.btnDelete {
    border: none;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 9px;
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 30%;
    cursor: pointer;
}

.el-totalname{
    font-size: 22px;
    margin-left: 15px;
}

.el-totalamount {
    font-size: 30px;
    margin-left: 15px;
}

.filter {
    width: 320px;
    height: 27px;
    padding-left: 10px;
    margin-left: 22%;
    margin-top: 40px;
}